<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kasi LifeStyle | Shoe Catalog</title>

        <!-- css links -->
        <link rel="stylesheet" href="../style-sheets/normalize.css">
        <link rel="stylesheet" href="../style-sheets/style.css">

    </head>

    <body>
        <!-- kasi lifestyle sections below -->

        <div class="sections">

            <!-- header section -->
            <header class="header-section">

                <div class="nav-bar-section">
                    <!-- nav bar code below -->

                </div>

            </header>

            <div class="about-section">
                
                <strong>
                    <h1>Kasi LifeStyle <br>Shoes</h1>
                </strong>

            </div>

            <div class="main-section">
                <!-- main code below -->

                <div class="shoes-section">
                    <!-- shoes section code below -->
                    
                </div>

            </div>


        </div>
        

    </body>

    <script src="../app/shoe-catalog.app.js"></script>
    <script src="../app/shoe-catalog.dom.js"></script>

</html>